<ion-header *ngIf="!isMyProfile">
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>

  <ion-avatar>
    <img src="assets/imgs/profile.png" alt="Profile picture">
  </ion-avatar>

  <ion-item-group>
    <ion-item-divider color="light">Nombre</ion-item-divider>
    <ion-item>{{user.name}}</ion-item>

    <ion-item-divider color="light">Genero</ion-item-divider>
    <ion-item>{{gender}}</ion-item>

    <ion-item-divider color="light">Fecha de nacimiento</ion-item-divider>
    <ion-item>{{user.day + '-' + user.month + '-' + user.year}}</ion-item>

    <ion-item-divider color="light">Residencia</ion-item-divider>
    <ion-item>{{user.city}}</ion-item>

    <ion-item-divider color="light">Teléfono</ion-item-divider>
    <ion-item>{{user.phone}}</ion-item>

    <ion-item-divider color="light">Correo</ion-item-divider>
    <ion-item>{{user.email}}</ion-item>
  </ion-item-group>

  <ion-fab bottom right *ngIf="isMyProfile">
    <button ion-fab (click)="editProfile()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <button *ngIf="isMyProfile"
          ion-button color="danger" block (click)="logout()">Cerrar Sesion</button>

  <ion-fab right bottom *ngIf="!isMyProfile">
    <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="seeHistory()"><ion-icon name="document"></ion-icon></button>
      <button ion-fab (click)="addExercise()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab (click)="chat()"><ion-icon name="chatboxes"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
