page-view-profile {
  img{
    border-radius: 50%;
    object-fit: cover;
    padding: 2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  ion-avatar{
    background-color: aliceblue;
  }
}
