<ion-content>
    <ion-list *ngIf="isDoctor">
        <p *ngIf="patients == null || patients.length == 0">Usted no tiene
            pacientes asignados</p>

        <button ion-item *ngFor="let patient of patients"
                (click)="patientSelected(patient)">
            {{patient.name}}
        </button>
    </ion-list>

    <ion-list *ngIf="!isDoctor">
        <p *ngIf="exercisesNotDone == null || exercisesNotDone.length == 0">
            Usted no tiene
            ejercicios asignados</p>

        <button ion-item *ngFor="let exercise of exercisesNotDone"
                (click)="exerciseSelected(exercise)">
            {{exercise.title}}
        </button>

        <br>

        <button ion-item *ngFor="let exercise of exerciseDone" color="gray"
                (click)="exerciseSelected(exercise)">
            {{exercise.title}}
        </button>
    </ion-list>
</ion-content>
