<ion-content>
  <ion-list *ngIf="isDoctor">
    <p *ngIf="patients == null || patients.length == 0">Usted no tiene pacientes asignados</p>

    <button ion-item *ngFor="let patient of patients" (click)="patientSelected(patient)">
      {{patient.name}}
    </button>
  </ion-list>

  <ion-list *ngIf="!isDoctor">
    <p *ngIf="exercises == null || exercises.length == 0">Usted no tiene ejercicios asignados</p>

    <button ion-item *ngFor="let exercise of exercises" (click)="exerciseSelected(exercise)">
      {{exercise.title}}
      <!--TODO put a button or checkbox where click and marks exercise as done, for mark as done without enter to  view it-->
      <!--TODO this number should be the times that he done de exercise-->
      <ion-badge item-end>7</ion-badge>
    </button>
  </ion-list>
</ion-content>
