<ion-header>

  <!--TODO get directly from navParams here?-->
  <ion-navbar>
    <ion-title>{{exercise.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>{{exercise.description}}</p>
  <p *ngIf="exercise.observations != undefined && exercise.observations != ''">
    <b>Observaciones: </b>
    {{exercise.observations}}
  </p>

  <button ion-button
          *ngIf="isPatient()"
          color="primary"
          (click)="exerciseDone()" block>Hecho!</button>

  <ion-item-group *ngIf="isDoctor()">
    <b>Observaciones: </b>
    <ion-textarea placeholder="Tenga en cuenta..."></ion-textarea>
    <button ion-button
            block
            color="primary"
            (click)="assignExerciseWithObservations()">Asignar</button>
  </ion-item-group>
</ion-content>
